:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}


body {
  background-image: url("./assets/pexels-2mephoto-28924859.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
